{% extends "base.html" %}
{% block main %}
<h1>Add depicts statements to images from the Nordic Museum</h1>
<p>Sign in with your Wikimedia account to get started.</p>

{% if authenticated_session() %}
<a href="{{ url_for('page') }}" class="btn btn-primary">Start</a>
{% else %}
<a href="{{ url_for('login') }}" class="btn btn-primary">Sign in</a>
{% endif %}
<br><br>
<div class="container">
    <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Akvarell_Gamla_Fellingsbrodr%C3%A4kten._%28sittande%29._V%C3%A4stmanland._Fellingsbro_sn._Akvarell_av_J._W_-_Nordiska_museet_-_NMA.0051700_%281%29.jpg/475px-Akvarell_Gamla_Fellingsbrodr%C3%A4kten._%28sittande%29._V%C3%A4stmanland._Fellingsbro_sn._Akvarell_av_J._W_-_Nordiska_museet_-_NMA.0051700_%281%29.jpg" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Amazone_sous_Louis_XV._1855._Augusta._Akvarell_av_Fritz_von_Dardel%2C_1855_-_Nordiska_museet_-_NMA.0038388.jpg/423px-Amazone_sous_Louis_XV._1855._Augusta._Akvarell_av_Fritz_von_Dardel%2C_1855_-_Nordiska_museet_-_NMA.0038388.jpg" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Dr%C3%A4kt._Handarbetande_kvinna_i_helfigur_sittande_framf%C3%B6r_ett_sk%C3%A5p_-_Nordiska_museet_-_NMA.0070148_%281%29.jpg/449px-Dr%C3%A4kt._Handarbetande_kvinna_i_helfigur_sittande_framf%C3%B6r_ett_sk%C3%A5p_-_Nordiska_museet_-_NMA.0070148_%281%29.jpg" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Akvarell._av_O_Wallgren._Kvinna_i_folkdr%C3%A4kt_fr%C3%A5n_Frosta_h%C3%A4rad_i_Sk%C3%A5ne_-_Nordiska_museet_-_NMA.0057252.jpg/448px-Akvarell._av_O_Wallgren._Kvinna_i_folkdr%C3%A4kt_fr%C3%A5n_Frosta_h%C3%A4rad_i_Sk%C3%A5ne_-_Nordiska_museet_-_NMA.0057252.jpg" class="img-responsive">
        </div>
    </div>
</div>

<style>
div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6 {
  padding: 0px;
}

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6 img{
  max-width: 100%;
}
</style>

{% endblock %}
